body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif; 
  background: #f5f5f5; 
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Toastify__toast {
  font-family: Verdana, Geneva, Tahoma, sans-serif; /* old style font */
  font-size: 1rem;
  border-radius: 0.5rem;
  box-shadow: 8px 8px 24px rgba(66, 68, 90, 0.3); /* similar to old container */
}

.Toastify__toast--success {
  background: rgba(0, 212, 255, 1); 
  color: #fff;
}

.Toastify__toast--error {
  background: #d32f2f; 
  color: #fff;
}

.Toastify__toast:hover {
  opacity: 0.9;
}

.Toastify__close-button--default {
  color: #fff;
}






